<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title class="headerThing">Borta Kväll AB</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.css}"/>


</head>
<body>
<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <!-- <a class="navbar-brand" href="#"><img th:src="@{/images/ec_bild.png}" alt="ec_logo"  height="50" width="75"/></a>-->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-item nav-link" href="#">Home</a>
                <a class="nav-item nav-link active" href="/movie/movies">Movies <span
                        class="sr-only">(current)</span></a>
                <a class="nav-item nav-link" href="/customer/customers">Customer</a>

                <a class="nav-item nav-link btn btn-primary btn btn-primary" type="button" data-toggle="modal"
                   data-target=".bd-example-modal-lg">Add Movie</a>
            </div>
        </div>
    </nav>
</header>

<div th:object="${customer}" class="container">

    <p th:text="*{socialNumber}"></p>
    <p th:text="*{fName}"></p>
    <p th:text="*{lName}"></p>
    <p th:text="*{address}"></p>
    <p th:text="*{zipCode}"></p>
    <p th:text="*{city}"></p>
    <p th:text="*{country}"></p>
    <p th:text="*{phone}"></p>
    <p th:text="*{email}"></p>


</div>

<div>
    <form action="#" method="post">
        <label>ArtNr</label>
        <input type="text" name="productNumber">
        <!--<input type="hidden" name="socialNumber" th:value="${customer.socialNumber}">-->
        <button type="submit">Submit</button>
    </form>
</div>



<h3 class="d-flex justify-content-center">Rented Movies</h3>
<table class="table">
    <tr>
        <th>Product Number</th>
        <th>Name</th>
        <th>From Date</th>
        <th>To Date</th>
        <th></th>
    </tr>

    <th:block  th:each="movie : ${rentedMovies}">
        <tr id="studentTable" >
            <td th:text="${movie.rentedMovieKey.productNumber}">dummy</td>

            <td th:each="name: ${movies}" th:if="${name.productNumber} == ${movie.rentedMovieKey.productNumber}" th:text="${name.name}">dummy</td>
            <td th:text="${movie.fromDate}">dummy</td>
            <td th:text="${movie.toDate}">dummy</td>
            <td></td>

            <!-- <td>
                 <form action="#" th:action="@{student_profile/personNumber}" method="post">
                     <input type="hidden" th:value="*{personNumber}" name="personNumber">
                     <button class="btn btn-outline-dark" type="submit">Show</button>
                 </form>
             </td>-->
        </tr>
    </th:block>
</table>



<footer>

</footer>
<script type="text/javascript" th:src="@{/webjars/jquery/3.3.1-1/jquery.js}"></script>
<script type="text/javascript" th:src="@{/webjars/bootstrap/4.0.0-2/js/bootstrap.js}"></script>
</body>

</html>