<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title class="headerThing">Borta Kväll AB</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.css}"/>


</head>
<body>
<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <!-- <a class="navbar-brand" href="#"><img th:src="@{/images/ec_bild.png}" alt="ec_logo"  height="50" width="75"/></a>-->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-item nav-link" href="/home">Home</a>
                <a class="nav-item nav-link" href="/movie/movies">Movies <span
                        class="sr-only">(current)</span></a>
                <a class="nav-item nav-link" href="/customer/customers">Customer</a>

                <!--<a class="nav-item nav-link btn btn-primary btn btn-primary" type="button" data-toggle="modal"
                   data-target=".bd-example-modal-lg">Add Movie</a>-->
            </div>
        </div>
    </nav>
</header>


<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalCenterTitle">Change Customer info</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div id="changeCustomerDiv">
                <form id="changeCustomerForm" th:action="@{rentals/changecustomer}" method="post">
                    <input type="hidden" name="socialNumber" th:value="${customer.socialNumber}">

                    <div class="changeCustomer-row">
                        <label class="customerLabel" for="firstName">First Name</label>
                        <input name="fName" type="text" class="customerInput" id="firstName"
                               th:placeholder="${customer.fName}">

                        <label class="customerLabel" for="lastName">Last Name</label>
                        <input name="lName" type="text" class=" customerInput" id="lastName"
                               th:placeholder="${customer.lName}">
                    </div>

                    <div class="changeCustomer-row">

                        <label class="customerLabel" for="address">Address</label>
                        <input name="address" type="text" class="customerInput" id="address"
                               th:placeholder="${customer.address}">

                        <label class="customerLabel" for="zipcode">Zip Code</label>
                        <input name="zipCode" type="text" class="customerInput" id="zipcode"
                               th:placeholder="${customer.zipCode}">

                    </div>
                    <div class="changeCustomer-row">

                        <label class="customerLabel" for="city">City</label>
                        <input name="city" type="text" class="customerInput" id="city"
                               th:placeholder="${customer.city}">

                        <label class="customerLabel" for="country">Country</label>
                        <input name="country" type="text" class="customerInput" id="country"
                               th:placeholder="${customer.country}">

                    </div>

                    <div class="changeCustomer-row">

                        <label class="customerLabel" for="phoneN">Phone Number</label>
                        <input name="phone" type="text" class=" customerInput" id="phoneN"
                               th:placeholder="${customer.phone}">

                        <label class="customerLabel" for="email">Email</label>
                        <input name="email" type="email" class="customerInput" id="email"
                               th:placeholder="${customer.email}">
                    </div>
                    <div id="changeCustomerBtnDiv">
                        <button id="changeCustomerBtn" class="btn btn-outline-dark" type="submit">Save Customer</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div id="middleDiv">
    <div class="bg-light" id="customerInfoDiv" th:object="${customer}">

        <div id="infoform">
            <h4>Customer Information</h4>

            <span th:text="'SSN: '+*{socialNumber}"></span><br>
            <span th:text="'Name: '+*{fName}+' '+ *{lName} "></span><br>
            <span th:text="'Address: '+ *{address}"></span><br>
            <span th:text="*{zipCode}+ ', '+ *{city} "></span><br>
            <span th:text="*{country}"></span><br>
            <br>
            <span th:text="'Phone Number: '+*{phone}"></span><br>
            <span th:text="'Email: '+*{email}"></span><br>
            <button class="nav-item nav-link btn btn-primary btn btn-outline-dark" type="button" data-toggle="modal"
                    data-target=".bd-example-modal-lg">Change Customer
            </button>
        </div>
    </div>


    <div id="rightBox">

        <div id="submitDiv">
            <form id="submitForm" action="#" method="post">
                <label>Product Number</label>
                <p>Scan movie or enter product number manually</p>
                <input type="text" name="productNumber">
                <!--<input type="hidden" name="socialNumber" th:value="${customer.socialNumber}">-->
                <button class="nav-item nav-link btn btn-outline-dark" type="submit">Submit</button>
            </form>
        </div>


        <div th:if="${customer.hasRentedMovies(@rentedMovieRepository)}">
            <h3 class="d-flex justify-content-center">Rented Movies</h3>
            <table class="table">
                <tr>
                    <th>Product Number</th>
                    <th>Name</th>
                    <th>From Date</th>
                    <th>Return movie</th>
                </tr>

                <th:block th:each="rentedMovie : ${rentedMovies}" th:if="${rentedMovie.toDate} == null">
                    <tr id="studentTable">
                        <td th:text="${rentedMovie.rentedMovieKey.productNumber}">dummy</td>
                        <td th:text="${rentedMovie.movie.name}">dummy</td>
                        <td th:text="${rentedMovie.rentedMovieKey.formatDate()}">dummy</td>
                        <td>
                            <form th:action="@{rentals/returnRentedMovie}" method="post">
                                <button class="nav-item nav-link btn btn-outline-dark" type="submit">Return</button>
                                <input type="hidden" name="productNumber" th:value="${rentedMovie.movie.productNumber}">
                                <input type="hidden" name="socialNumber" th:value="${customer.socialNumber}">
                                <input type="hidden" name="fromDate" th:value="${rentedMovie.rentedMovieKey.fromDate}">
                            </form>
                        </td>
                    </tr>
                </th:block>
            </table>

        </div>
        <h3 class="d-flex justify-content-center">History</h3>
        <table class="table">
            <tr>
                <th>Product Number</th>
                <th>Name</th>
                <th>From Date</th>
                <th>Returned</th>
            </tr>

            <th:block th:each="rentedMovie : ${rentedMovies}" th:if="${rentedMovie.toDate} != null">
                <tr>
                    <td th:text="${rentedMovie.movie.productNumber}">dummy</td>
                    <td th:text="${rentedMovie.movie.name}">dummy</td>
                    <td th:text="${rentedMovie.rentedMovieKey.formatDate()}">dummy</td>
                    <td th:text="${rentedMovie.toDate}">dummy</td>
                </tr>
            </th:block>
        </table>
    </div>
</div>
<footer>

</footer>
<script type="text/javascript" th:src="@{/webjars/jquery/3.3.1-1/jquery.js}"></script>
<script type="text/javascript" th:src="@{/webjars/bootstrap/4.0.0-2/js/bootstrap.js}"></script>
</body>

</html>