<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title class="headerThing">Borta Kväll AB</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.css}"/>


</head>
<body>
<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <!-- <a class="navbar-brand" href="#"><img th:src="@{/images/ec_bild.png}" alt="ec_logo"  height="50" width="75"/></a>-->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-item nav-link" href="/home">Home</a>
                <a class="nav-item nav-link active" href="/movie/movies">Movies <span
                        class="sr-only">(current)</span></a>
                <a class="nav-item nav-link" href="/customer/customers">Customer</a>

                <a class="nav-item nav-link" data-toggle="modal"
                   data-target=".bd-example-modal-lg" onMouseOver="this.style.cursor='pointer'">Add Movie</a>

                <a class="nav-item nav-link" data-toggle="modal" data-target="#modal2"
                   onMouseOver="this.style.cursor='pointer'">Delete Movie</a>


            </div>
        </div>
        <form method="get" th:action="@{/movie/titleSearch}" class="form-inline my-2 my-lg-0">
            <input name="name" class="form-control mr-sm-2" type="text" placeholder="Search By Title"
                   aria-label="Search">
            <button class="btn btn-outline-dark my-2 my-sm-0" type="submit">Search</button>
        </form>
    </nav>
</header>


<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalCenterTitle">Add Movie</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div id="addMovieDiv">
                <form method="post">
                    <div class="form-row">
                        <div class="form-group col-md-4">
                            <label for="movieN">Title</label>
                            <input name="name" type="text" class="form-control" id="movieN" placeholder="Title">
                        </div>
                        <div class="form-group col-md-4">
                            <label for="movieRD">Release Date</label>
                            <input name="releaseDate" type="text" class="form-control" id="movieRD"
                                   placeholder="Release Date">
                        </div>

                    </div>
                    <div class="form-row">

                        <div class="form-group col-md-4">
                            <label for="movieCategory">Category</label>
                            <input name="category" type="text" class="form-control" id="movieCategory"
                                   placeholder="Category">
                        </div>
                        <div class="form-group col-md-4">
                            <label for="movieFormat">Format</label>
                            <input name="format" type="text" class="form-control" id="movieFormat" placeholder="Format">
                        </div>

                    </div>


                    <div class="form-row">
                        <div class="form-group col-md-4">
                            <label for="movieDescription">Description</label>
                            <textarea name="description" cols="30" rows="10" type="text" class="form-control"
                                      id="movieDescription"></textarea>
                        </div>
                        <input name="avaliable" type="hidden" th:value="true">

                        <div class="form-group col-md-4">
                            <label for="movieFormat">Images Link</label>
                            <input name="imgLink" type="text" class="form-control" id="imagesLink"
                                   placeholder="Images Link">
                        </div>
                    </div>

                    <button class="btn btn-outline-dark" type="submit">Save Movie</button>

                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modal2" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalCenterTitle2">Delete Movie</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div>
                <form th:action="@{/movie/deletemovie}" method="post">
                    <input name="productNumber" type="text" class="form-control" id="movieName" placeholder="Movie id">
                    <button id="deleteBtn" type="submit" class="btn btn-outline-dark">Delete Movie</button>
                </form>
            </div>
        </div>
    </div>
</div>

<h3 class="d-flex justify-content-center">Movies</h3>
<table class="table">
    <tr>
        <th>Product Number</th>
        <th>Name</th>
        <th>Category</th>
        <th>Format</th>
        <th>Release Date</th>
        <th>Available</th>

        <th></th>
    </tr>

    <th:block th:each="movie : ${movies}">
        <tr id="studentTable" th:object="${movie}">
            <td th:text="*{productNumber}">dummy</td>
            <td th:text="*{name}">dummy</td>
            <td th:text="*{category}">dummy</td>
            <td th:text="*{format}">dummy</td>
            <td th:text="*{releaseDate}">dummy</td>
            <td><img th:if="*{avaliable}" th:src="@{/img/green.png}" alt="">
                <img th:unless="*{avaliable}" th:src="@{/img/red.png}" alt="">
            </td>

            <td>
                <button class="nav-item nav-link btn btn-outline-dark" type="button" data-toggle="modal"
                        th:data-target="'#showInfo' + ${movie.productNumber}">INFO
                </button>
            </td>

            <!-- <td>
                 <form action="#" th:action="@{student_profile/personNumber}" method="post">
                     <input type="hidden" th:value="*{personNumber}" name="personNumber">
                     <button class="btn btn-outline-dark" type="submit">Show</button>
                 </form>
             </td>-->
        </tr>
        <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
             aria-hidden="true" th:id="'showInfo' + ${movie.productNumber}">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModal">Movie info</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div th:text="*{movie.description}"></div>
                    <img style="width:182px;height:268px;" th:src="${movie.imgLink}">
                </div>
            </div>
        </div>
    </th:block>
</table>


<footer id="footer">


    <div th:with="urlBuilder=${T(org.springframework.web.servlet.support.ServletUriComponentsBuilder).fromCurrentRequest()}">
        <nav>
            <ul class="pagination pagination-lg justify-content-center">
                <li class="page-item">
                    <form method="get">
                        <input type="hidden" name="page" th:value="${prev}">
                        <button class="page-link" type="submit">PREV</button>
                    </form>
                </li>
                <li class="page-item" th:if="${movies.totalPages &gt; 1}"
                    th:each="i : ${#numbers.sequence(0,movies.totalPages-1)}">
                    <a class="page-link"
                       th:text="${i+1}"
                       th:href="@{${urlBuilder.replaceQueryParam('page', {i}).toUriString()}}"
                       th:classappend="${currentPage}==${i}?'active':''"></a>
                </li>
                <li class="page-item">
                    <form method="get">
                        <input type="hidden" name="page" th:value="${next}">
                        <button class="page-link" type="submit">NEXT</button>
                    </form>
                </li>
            </ul>
        </nav>
    </div>

</footer>
<script type="text/javascript" th:src="@{/webjars/jquery/3.3.1-1/jquery.js}"></script>
<script type="text/javascript" th:src="@{/webjars/bootstrap/4.0.0-2/js/bootstrap.js}"></script>
</body>

</html>