<!DOCTYPE html>
        <html lang="en" xmlns:th="http://www.thymeleaf.org">
        <head>
            <meta charset="UTF-8">
            <title>Overdues</title>
            <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.css}"/>
            <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
        </head>
<body>
<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <!-- <a class="navbar-brand" href="#"><img th:src="@{/images/ec_bild.png}" alt="ec_logo"  height="50" width="75"/></a>-->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <img th:src="@{/img/bortakvall-logo.png}" alt="Logo" style=""/>
                <a class="nav-item nav-link" href="/home">Home</a>
                <a class="nav-item nav-link " href="/movie/movies">Movies <span class="sr-only">(current)</span></a>
                <a class="nav-item nav-link active" href="/customer/customers">Customer</a>
                <a class="nav-item nav-link active" href="/movie/overduemovies">Overdues</a>

            </div>
        </div>
    </nav>
</header>
<h3 class="d-flex justify-content-center">Overdues</h3>
<table class="table">
    <tr>
        <th>Product Number</th>
        <th>Movie Name</th>
        <th>Social Number</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Rental Date</th>
        <th>Phone</th>
    </tr>
    <th:block th:each="rentedMovie : ${overduemovies}">
        <tr id="studentTable">
            <td th:text="${rentedMovie.rentedMovieKey.productNumber}"></td>
            <td th:text="${rentedMovie.movie.name}"></td>
            <td th:text="${rentedMovie.rentedMovieKey.socialNumber}"></td>
            <td th:text="${rentedMovie.customer.fName}"></td>
            <td th:text="${rentedMovie.customer.lName}"></td>
            <td th:text="${rentedMovie.rentedMovieKey.formatDate()}"></td>
            <td th:text="${rentedMovie.customer.phone}"></td>
        </tr>
    </th:block>

</table>
<script type="text/javascript" th:src="@{/webjars/jquery/3.3.1-1/jquery.js}"></script>
<script type="text/javascript" th:src="@{/webjars/bootstrap/4.0.0-2/js/bootstrap.js}"></script>
</body>
</html></title>
</head>
<body>

</body>
</html>