.headerThing{
   display: flex;
    flex-direction: row;
    justify-content: center;
}




@media only screen
and (min-device-width: 300px)
and (max-device-width: 768px)
and (-webkit-min-device-pixel-ratio: 2)
and (orientation: portrait) {


    #profilepicture{
        width: 25%;
    }


}